<div class="container"></div>
<ul class="category_list">
    <% Section.herbs_sections.each do |section| %>
        <% if defined?(@section) && @section && @section.id == section.id %>
            <li><a class="frst_link" href="<%= section_path(section) %>"><%= section.title %></a></li>
        <% else %>
            <li><a href="<%= section_path(section) %>"><%= section.title %></a></li>
        <% end %>
    <% end %>
</ul>
<div class="price">
    <a href="<%= price_list_xls_url %>"><img src="/assets/images/price.png" alt="Прайс"/></a>
    <a href="<%= price_list_xls_url %>">Скачать прайс</a>
    <a href="<%= price_list_xls_url %>">Интересны оптовые закупки?</a>
</div>