<div id="content" class="center_place">
    <div id="bgcontent1"></div>
    <div id="bgcontent2"></div>
    <div class="container"></div>
    <ul class="category_list">
        <% Section.herbs_sections.each do |section| %>
            <li><a href="<%= section_path(section) %>"><%= section.title %></a></li>
        <% end %>
    </ul>
    <div class="price">
        <a href="<%= price_list_xls_url %>"><img src="/assets/images/price.png" alt="Прайс"/></a>
        <a href="<%= price_list_xls_url %>">Скачать прайс</a>
        <a href="<%= price_list_xls_url %>">Интересны оптовые закупки?</a>
    </div>
</div>
<div class="teas">
    <div class="center_place">
        <div class="tea_slider">
            <img class="l_point" src="/assets/images/left_point.png" alt=""/>
            <div id="caruselWindow">
                <ul>
                    <% [Product.main_page.ordered.to_a,Product.main_page.ordered.to_a,Product.main_page.ordered.to_a,Product.main_page.ordered.to_a].flatten.each do |product| %>
                        <li><a href="<%= product_path product %>"><img src="<%= product.image.try(:url) %>" alt=""/><%= product.title %><br><%= product.cost.cost %> р. / <%= product.cost.amount %> гр.</a></li>
                    <% end %>
                </ul>
            </div>
            <img class="r_point" src="/assets/images/right_point.png" alt=""/>
        </div>
    </div>
</div>