<div id="content" class="center_place">
    <div id="bgcontent1"></div>
    <div id="bgcontent2"></div>
    <%= render 'shared/main_menu' %>
</div>
<div class="teas">
    <div class="center_place">
        <div class="tea_slider">
            <img class="l_point" src="/assets/images/left_point.png" alt=""/>
            <div id="caruselWindow">
                <ul>
                    <% main = Product.main_page.ordered.to_a; scale = [1, (6 / [main.size, 1].max.to_f).ceil].max; [main * scale].flatten.each do |product| %>
                        <li><a href="<%= product_path product %>"><img src="<%= (product.image_main_page || product.image).try(:url) %>" alt=""/><%= product.title %><br><%= product.cost.cost %> р. / <%= product.cost.amount %> гр.</a></li>
                    <% end %>
                </ul>
            </div>
            <img class="r_point" src="/assets/images/right_point.png" alt=""/>
        </div>
    </div>
</div>