<div class="row-fluid">
    <ul class="thumbnails">
        <% @products.each do |product| %>
            <li class="span4">
                <div class="thumbnail">
                    <% if product.image %>
                        <a href="<%= product_path product %>">
                            <img src="<%= product.image.url %>">
                        </a>
                    <% end %>
                    <div class="caption">
                        <a href="<%= product_path product %>">
                            <h3><%= product.title %></h3>
                        </a>
                        <div>
                            <%= product.short_description %>
                        </div>
                        <p>
                            <%= product.cost.cost %> руб. / <%= product.cost.amount %> г.
                            <button type="button" class="btn btn-info basket-btn pull-right"
                                    data-action="add" data-product-id="<%= product.id %>"
                                    data-cost-id="<%= product.cost.id %>">В корзину</button>
                        </p>
                    </div>
                </div>
            </li>
        <% end %>
    </ul>
</div>