<div class="thumbnail">
    <% if @product.image %>
        <img src="<%= @product.image.url %>">
    <% end %>
    <div class="caption">
        <h3><%= @product.title %></h3>
        <div><%= @product.short_description %></div>
        <strong><%= @product.description.html_safe %></strong>
        <p></p>
        <% @product.costs.each do |cost| %>
            <p>
                <%= cost.cost %> руб. / <%= cost.amount %> г.
                <button type="button" class="btn btn-info basket-btn"
                        data-action="add" data-product-id="<%= @product.id %>"
                        data-cost-id="<%= cost.id %>">В корзину</button>
            </p>
        <% end %>
    </div>
</div>