				<div id="content" class="center_place no_bg">
                    <div class="categories">
                        <%= render 'shared/main_menu' %>
                    </div>
                    <section class="product_info">
                        <header class="product_head" style="background: url(<%= @product.section.try(:image).try(:url) || '/assets/images/bg_menu1.jpg' %>)100% 0 no-repeat;">
                            <p><%= @product.title %></p>
                        </header>
                        <div class="product_photo">
                            <a class="fancybox" title="<%= @product.title %>" href="<%= @product.image_card.try(:url) %>">
                                <img src="<%= @product.image_card.try(:url, :content) %>" alt="Фото"/>
                            </a>
                            <div class="product_about">
                                <% if @product.short_description.present? %>
                                    <p><%= @product.short_description %></p>
                                <% end %>
                                <div id="basket-btn-block" class="order">
                                    <form action="#" class="quant">
                                        <input type="text" maxlength="2" value="01"/>
                                        <div class="plus_minus">
                                            <input class="plus" type="button" value="+"/>
                                            <input class="minus" type="button" value="-"/>
                                        </div>
                                    </form>
                                    <div class="cost">
                                        <span id="cost-tablo"><strong>00 000 р.</strong> / 000 гр.</span>
                                        <a id="basket-block-btn" href="#"><img src="/assets/images/basket_mini.png" alt=""/></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_content">
                            <%= @product.description.to_s.html_safe %>
                        </div>
                    </section>
				</div>