				<div id="content" class="center_place no_bg">
                    <div class="categories">
                        <%= render 'shared/main_menu' %>
                    </div>
                    <section class="product_info">
                        <header class="product_head">
                            <p><%= @product.title %></p>
                        </header>
                        <div class="product_photo">
                            <img src="<%= @product.image_card.try(:url) %>" alt="Фото"/>
                            <div class="product_about">
                                <% if @product.short_description.present? %>
                                    <p><%= @product.short_description %></p>
                                <% end %>
                                <div class="order">
                                    <form action="#" class="quant">
                                        <input type="text" maxlength="2" value="00"/>
                                        <div class="plus_minus">
                                            <input type="button" value="+"/>
                                            <input type="button" value="-"/>
                                        </div>
                                    </form>
                                    <div class="cost">
                                        <span><strong>00 000 р.</strong> / 000 гр.</span>
                                        <a href=""><img src="/assets/images/basket_mini.png" alt=""/></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_content">
                            <%= @product.description.to_s.html_safe %>
                        </div>
                    </section>
				</div>