<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Main</title>
        <link type="text/css" rel="stylesheet" media="all" href="/assets/style.css">
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        <script type="text/javascript">
            <%= render 'shared/dynamic_javascript' %>
        </script>
        <!--[if gte IE 9]>
        <style type="text/css">
            .gradient {
                filter: none;
            }
        </style>
        <![endif]-->
	</head>
	<body>
		<div id="wrapper">
			<header class="header">
				<div class="head_info center_place">
                    <a href="" class="logo"><img src="/assets/images/logo.png" alt="Сила трав"/></a>
                    <div class="contacts">
                        <p><%= Setting['phones.phone1'] %></p>
                        <p><%= Setting['phones.phone2'] %></p>
                        <p>Фитолог: <%= Setting['phones.fitolog_phone'] %></p>
                    </div>
                    <div>
                        <h2>Забота о Вашем здоровье!</h2>
                        <h1>Травы Кубани, Алтая</h1>
                        <h3>Интернет-магазин</h3>
                    </div>
				</div>
			</header>
			<div id="main">
				<div class="navigation center_place">
                    <nav class="main_menu">
                        <ul>
                            <li><a href="">Главная</a></li>
                            <li><img src="/assets/images/v_string.png" alt=""/><a href="">О нас</a></li>
                            <li><img src="/assets/images/v_string.png" alt=""/><a href="">Контакты</a></li>
                        </ul>
                        <form action="#">
                            <input type="text" placeholder="Поиск"/>
                            <input type="submit" value=""/>
                        </form>
                    </nav>
                    <a href="" class="basket"><img src="/assets/images/basket2.png" alt=""/>Корзина</a>
				</div>
                <div>
                    <% unless notice.blank? %>
                        <div class="alert alert-success">
                            <a class="close" data-dismiss="alert">?</a>
                            <span><%= notice %></span>
                        </div>
                    <% end %>

                    <% unless alert.blank? %>
                        <div class="alert alert-danger">
                            <a class="close" data-dismiss="alert">?</a>
                            <span><%= alert %></span>
                        </div>
                    <% end %>
                </div>
                <%= yield %>
                <div class="center_place our_help">
                    <ul>
                        <li><a href="">Помощь</a></li>
                        <li><img src="/assets/images/v_string.png" alt=""/><a href="">Доставка из России за рубеж</a></li>
                    </ul>
                    <div class="s_web">
                        <span>Мы в соцсетях</span>
                        <div>
                            <a href=""><img src="/assets/images/ico1.png" alt=""/></a>
                            <a href=""><img src="/assets/images/ico2.png" alt=""/></a>
                            <a href=""><img src="/assets/images/ico3.png" alt=""/></a>
                            <a href=""><img src="/assets/images/ico4.png" alt=""/></a>
                        </div>
                    </div>
                </div>
			</div>
			<footer>
				<div class="bg_footer">
                    <div class="center_place">
                        <span>© 2014 Интернет магазин «Трав Кубани и Алтая» www.LekTravy.com</span>
                        <a href="#">Разработка и создание CanExp</a>
                    </div>
				</div>
			</footer>
		</div>	
	</body>
</html>
